/* General */
html,body {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  font-family:'Quicksand', sans-serif;
  color: rgba(0,0,0,0.7);
  background-image: url(../images/pattern.jpg);
  background-repeat: repeat;
  background-size: 5.6%;
}
a {
  text-decoration: none;
  color: rgba(0,0,0,0.7);
}
button, .button, #delSubm, .delSwitch, .delSwitchToSingle {
  font-family:'Quicksand', sans-serif;
  text-transform: uppercase;
  height: 30px;
  width: 300px;
  font-size: 20px;
  background: #f0dfbc;
  opacity: 0.7;
  border: none;
  margin: 5px;
  -webkit-transition:0.4s ease-in;
  -moz-transition:0.4s ease-in;
  -ms-transition:0.4s ease-in;
  -o-transition:0.4s ease-in;
}
.delSwitchToSingle {
  width: 350px;
  background: rgba(70, 70, 70, 0.6);
}
.delSwitch a, .delSwitchToSingle a {
  width: 100%;
  -webkit-transition:0.4s ease-in;
  -moz-transition:0.4s ease-in;
  -ms-transition:0.4s ease-in;
  -o-transition:0.4s ease-in;
}
.delSwitch a {
  color: black;
}
.delSwitchToSingle a {
  color: white;
}
.delSwitchToSingle:hover {
  width: 300px;
  background: #f0dfbc;
}
.delSwitchToSingle:hover a {
  color: black;
}

button:hover, .button:hover, #delSubm:hover, .delSwitch:hover {
  width:  350px;
  color: white;
  background: rgba(70, 70, 70, 0.6);
}
.delSwitch:hover a {
  color: white;
}
.mainWrap {
  height: auto;
  width: 90%;
  margin: 20px auto;
  position: relative;
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
  padding: 30px;
  box-sizing: border-box;
}
/* Navigation Bar */
header {
  width: 99%;
  height: auto;
  margin: 0;
  padding: 0;
}
nav {
  margin: 10px;
  width: 100%;
  height: 40px;
}
nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
nav ul li {
  display: inline-block;
  height: 100%;
  width: 40%;
  margin: 0;
  background: #f0dfbc;

}
nav ul li a {
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
  display: table;
  width: 100%;
  height: 100%;
  -webkit-transition:0.4s ease-in-out;
  -moz-transition:0.4s ease-in-out;
  -ms-transition:0.4s ease-in-out;
  -o-transition:0.4s ease-in-out;
}
nav ul li a:hover {
  color: white;
  background: rgba(70, 70, 70, 0.6);
}
nav ul li a span {
  display: table-cell;
  vertical-align: middle;
}

/* Products List */
.product {
  display: inline-block;
  height: 300px;
  width: 300px;
  position: relative;
  vertical-align: middle;
  background: #f0dfbc;
  margin: 25px;
}

.product h2 {
  height: 25%;
  font-size: 20px;
  box-sizing: border-box;
  margin: 0;
}
.product .sku {
  text-align: right;
  padding: 10px 10px 0 0;
  font-size: 0.9em;
}
.name {
  padding: 0 20px;
  text-transform: uppercase;
}

#selectedForm {
  width: 100%;
  position: relative;
}
#selectedForm input[type="checkbox"] {
  cursor:pointer;
  position: absolute;
  left: 5px;
  top: 5px;
}
.pinDeleteForm{
  position: absolute;
  top: 0;
  right:138px;
}
.pin {
  height: 24px;
  width: 24px;
  color: white;
  border-radius: 20px;
  cursor: grabbing;
  background-color: #f0f0f0;
  border: none;
}
#delSubm {
  display: inline-block;
  position: absolute;
  right: 330px;
  top: -24px;
  cursor:pointer;

}
.delSwitch, .delSwitchToSingle{
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 5px;
}
.delSwitchToSingle {

}

/* Add Products */

form p {
  width: 100%;
  height: 30px;
  text-align: middle;
}
form .centerFields {
  width: 300px;
  margin: 0 auto;
}
form .centerFields input {
  text-align: right;
  width: 200px;
  background: rgba(255,191,63,0.4);
  border: none;
  border-radius: 3px;
  color: black;
  -webkit-transition:0.4s ease-in;
  -moz-transition:0.4s ease-in;
  -ms-transition:0.4s ease-in;
  -o-transition:0.4s ease-in;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px rgba(255,191,63,0.2) inset;
  transition: background-color 5000s ease-in-out 0s;
}
form .centerFields input:focus{
  background: rgba(255,191,63,0.8);
}
